body {
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  text-shadow: 0 0 10px rgba(200,200,200,.6);
  box-shadow: inset 0 0 90px rgba(38,89,23,.5);
}

.background { 
  background-color: #FDF6CD;
  z-index:-1;
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  overflow:hidden;
}

.background-top {
  background: linear-gradient(#DBD5AB,#FDF6CD);
  height: 250px;
}

.location-pane {
  z-index: 2000;
  position: absolute;
  left: 0;
  top: 0px;
  width: 100%;
  height: 50%;
  box-shadow: 0 8px 15px #555;
  background: linear-gradient(#333,#999);
  animation: location-pane-move 1s ease-out;
  -webkit-animation: location-pane-move 1s ease-out; 
}

@-webkit-keyframes location-pane-move
{
from {top: -50%;}
to {top: 0;}
}

@keyframes location-pane-move
{
from {top: -50%;}
to {top: 0;}
}

.location-pane > h2 {
  font-family: arial, helvatica, sans;
  text-align: center;
  font-size: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  color: #fff;
}

#logo {
  font-family: 'Roboto Slab';
  width: 201px;  
  margin-right: 600px;
  font-size: 60px;
  color: #106112;
}

.glyphicon {
  margin-right: 5px;
}

.navbar-inverse {
  font-size: 16px;
  margin-top: 30px;
  background: transparent;
  border: none;
}

.navbar-fixed-top {
  position: static;
}

.menu {
  color: #344D35 !important;
  background-color: transparent !important;
}

.menu:hover {
  color: #fff !important;
}

.active {
  border-bottom: 3px solid;
}